
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DoktorGiris</title>
</head>
<body>
    <div> 
        <asp:Button runat="server" Text="Button"></asp:Button>
    </div>
</body>
</html>
